@page "/ClientRegistration"
@using Microsoft.AspNetCore.Components.Forms
@using TinaKingSystem.ViewModels
@using TinaKingWebApp.Pages


<h3>Fetch Client Information</h3>
  <EditForm>
<div>
    <div>
        <label>Email:</label>
        <input @bind="email" />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" @bind="password" />
    </div>
    <div>
         <button type="submit">Fetch Client Info</button>
    </div>
  </div>
  </EditForm>
  
@code {
	private string email;
	private string password;

}





