@page "/ClientRegistration"
@using Microsoft.AspNetCore.Components.Forms
<<<<<<< HEAD
@using TinaKingSystem.ViewModels
=======
>>>>>>> bba3c92af4bd29fcb204c691b5cd02c1e3d93e01

<h3>Fetch Client Information</h3>
<div>
    <div>
        <label>Email:</label>
        <input @bind="email" />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" @bind="password" />
    </div>
    <div>
<<<<<<< HEAD
        <button @* @onclick="FetchClientInfo" *@>Fetch Information</button>
    </div>
=======
      <button>Fetch Information</button></div>
>>>>>>> bba3c92af4bd29fcb204c691b5cd02c1e3d93e01
 </div>
  
@code {
    private string email;
    private string password;
}

<<<<<<< HEAD
=======



>>>>>>> bba3c92af4bd29fcb204c691b5cd02c1e3d93e01
