
.login-background {
    background: url('../images/smallbg.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.body {
    display: flex;
    justify-content: right;
    margin-right: 80px;
    align-items: center;
    padding-top: 80px;
}

.login-btn {
    background-color: #246181;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.selected-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    animation: fadeIn 1s ease-in-out;
}

.center-text {
    text-align: center;
    color: #00162a;
    margin: 0;
}

.fgt-pwd {
    color: #00162a;
    text-decoration: none;
}

hr {
    color: #00162a;
}

.login-container {
    background-color: #9cc5c9;
    padding: 20px;
    border-radius: 10px;
    margin-top: auto;
    align-items: center;
}

.account-type-selection {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.account-type button {
    border: none;
    background: none;
    padding: 0;
}

.choose-account-type {
    text-align: center;
}

.account-image {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

/*.account-image img {
    width: 100px;*/ /* Set appropriate width */
/*height: auto;
}

.account-image-selected {
    display: block;
    margin: auto;
}

.account-image-selected img {
    width: 150px;*/ /* Larger size for selected */
/*height: auto;
}*/

/*
.account-type button.selected-img {
    border: 2px solid green;
}
*/

.login-form .form-group {
    margin-bottom: 15px;
}

.login-form .btn-secondary {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

/* Add additional styles as needed to match your specific design */
.choose-account-type {
    text-align: center;
}

.account-image {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

    .account-image img {
        width: 100px; /* Set appropriate width */
        height: auto;
    }

.account-image-selected {
    display: block;
    margin: auto;
}

    .account-image-selected img {
        width: 150px; /* Larger size for selected */
        height: auto;
    }
