body[b-4nn6m64ww4] {
    background-image: url('/Images/office.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.row[b-4nn6m64ww4] {
    margin: 0 auto;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    height:100%;
}

.col-md-6[b-4nn6m64ww4] {
    margin-bottom: 20px;
}

label[b-4nn6m64ww4] {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[b-4nn6m64ww4], select[b-4nn6m64ww4], textarea[b-4nn6m64ww4] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[b-4nn6m64ww4] {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

    button:hover[b-4nn6m64ww4] {
        background-color: #45a049;
    }
