body[b-4nn6m64ww4] {
    background-color: #9cc5c9;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3[b-4nn6m64ww4] {
    color: #000000;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.form-group[b-4nn6m64ww4] {
    margin-bottom: 20px;
}

    .form-group label[b-4nn6m64ww4] {
        display: block;
        color: #000000;
        margin-bottom: 5px;
    }

.form-control[b-4nn6m64ww4] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    color: #000000;
}

    .form-control:focus[b-4nn6m64ww4] {
        outline: none;
        border-color: #7289da;
        box-shadow: 0 0 5px #7289da;
    }

.btn-primary[b-4nn6m64ww4] {
    background-color: #246181;
    border: 1px solid #cccccc;
    padding: 10px 15px;
    border-radius: 5px;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

    .btn-primary:hover[b-4nn6m64ww4] {
        background-color: #e8e8e8;
    }
